.articles{
    text-align: center;
    margin: 7rem 0;
}

.articles h1{
    color: #ff8800;
}

.articleDiv{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    gap: 25px;
}


@media (max-width: 991px)  {
    .articleDiv{
        width: 100%;
    }
}

@media (max-width: 768px){
    .articles{
        margin: 4rem 0;
    }

    .articleDiv{
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 991px)  {
    .articles{
        margin: 2rem 0;
    }

    .articles > h1{
        font-size: 24px;
    }
}