.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 28px;
    box-shadow: 3px 3px 40px rgba(96,96,96,.3)
}

.navbar{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    float: right;
    gap: 30px;
    cursor: pointer;
}

.item{
    font-weight: 600;
}

.item:hover{
    color: yellow;
    
}

@media (max-width: 768px){

    .header{
        gap: 20px;
        padding: 20px 24px;
    }

    .header > h1{
        font-size: 24px;
    }

    .right{
        gap: 15px;
    }
}

@media (max-width: 550px){

    .header{
        gap: 10px;
        padding: 16px 14px;
    }

    .header > h1{
        font-size: 20px;
    }

    .right{
        gap: 10px;
    }

    .item{
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .header{
        flex-direction: column;
    }
    .header > h1{
        text-align: center;
    }
    .navbar{
        justify-content: center;
    }
}